<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <!--<a routerLink="/">ECAM Notepad</a>-->
    ECAM Notepad
  </h1>
  <nav>
    <a routerLink="/notes">Notes</a>
    <a routerLink="/categories">Categories</a>
  </nav>
</div>

<!-- The content to display depends on the current url so the directive is calling
     the router module. This directive is available to the AppComponent because AppModule
     imports AppRoutingModule which exported RouterModule!-->
<router-outlet></router-outlet>
